*.class

*.iml

.gitignore



# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.iml
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/

out/production/OOPIter2/application/
out/production/OOPIter2/models/assetOwnership/
out/production/OOPIter2/models/command/
out/production/OOPIter2/models/playerAsset/
out/production/OOPIter2/models/tileInfo/
out/production/OOPIter2/models/utility/
out/production/OOPIter2/models/visitor/
